.li {
  background-color: #0c4d4f;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}
.ul {
  border: 1px solid #ffffff;
  list-style: none;
}
.question {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
.time {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
