.background-container {
  background-color: #0c4d4f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}
@media (min-width: 768px) {
  .main-heading {
    font-size: 35px;
  }
}
.difficulty-heading {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}
@media (min-width: 768px) {
  .difficulty-heading {
    font-size: 35px;
  }
}
.difficulty-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  align-items: space-around;
}
.button {
  color: #ffffff;
  background-image: linear-gradient(to right, #43cbff 0%, #9708cc 100%);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  width: 132px;
  border-radius: 8px;
  border: none;
  margin-top: 24px;
  padding-top: 13px;
  padding-right: 32px;
  padding-bottom: 13px;
  padding-left: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}
